// sass for TopTenExtJsGridFeaturesClassic.view.home.HomeView
.homeview { 
  background-image: url(./resources/desktop/SenchaCon.png) !important;
  background-color: #011219 !important;
    background-repeat: no-repeat !important;
    background-position: top center !important;
} 