// sass for TopTenExtJsGridFeaturesClassic.view.home.HomeView
.homeview { 
  background-image: url(resources/desktop/5.jpg) !important;
  background-color: #011219 !important;
    background-repeat: no-repeat !important;
    background-position: top center !important;
} 