// sass for CreateExtJsApp.view.home.HomeView
.homeview { 
  background-image: url(./SenchaCon2020.png) !important;
  background-color: #011219 !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    height: 100% !important;
} 